pandas
numpy
matplotlib
seaborn
wordcloud
nltk
scikit-learn
tensorflow==2.16.1
torch
transformers
tqdm
requests
fastapi
uvicorn[standard]
pydantic
evidently
mlflow==2.13.2
protobuf<5
dvc
pytest
joblib
